.vscode

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

api/v2
clients
pkg/wg_agent
fw/api/v1
clients/ipdrawer
clients/supervisor

cmd/auto_migrate_database/migrate
cmd/sendmail/sendmail
sase-manager

cover.out
test.db
clients/fw
clients/wg
clients/supervisor